@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: var(--fill-base-white);
  text-decoration: none !important;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  background-color: #373737;
}

:root {
  --fill-base-white: #fff;
  --fill-base-yellow: #ffad31dd;
  --fill-primary-yellow: #ffad31;
  --fill-secondary-black: #1e1c1f;
  --fill-primary-black: #3c373d;
  --fill-base-grey: #f3f5f5;
  --fill-radial-gradient: circle, black, #1f2937, #0d0a36;
}

.default-btn {
  align-self: self-start;
  background-color: var(--fill-base-yellow);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  border: 1px solid transparent;
  padding: 15px 30px;
  margin: 0px auto;
  border-radius: 30px;
  z-index: 999;
  transition: all 0.3s ease, transform 0.3s ease;
  min-width: 153px;
  color: var(--fill-base-white);
}
.default-btn-change {
  align-self: self-start;
  background-color: var(--fill-base-white);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  border: 1px solid transparent;
  padding: 15px 30px;
  margin: 0px auto;
  border-radius: 30px;
  z-index: 999;
  transition: all 0.3s ease, transform 0.3s ease;
}

.default-btn:hover {
  background: var(--fill-primary-yellow);
  transform: scale(1.05);
}

.sectionTitle {
  color: var(--fill-base-white);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
}

.sectionDescription {
  color: var(--fill-base-white);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 200;
  padding-bottom: 30px;
  text-align: center;
}

.secTagline {
  color: var(--fill-base-white);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 30px;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.form {
  border: 2px solid var(--fill-base-yellow);
  padding: 20px;
  width: 600px;
}
.input {
  background-color: var(--fill-primary-black);
  border: none;
  outline: none;
  padding: 3px 15px;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.input:hover {
  border-bottom: 1px solid var(--fill-primary-yellow);
}
/* header */
header {
  background-color: var(--fill-secondary-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.container {
  max-width: 1310px;
  margin: 0px auto;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  /* max-width: 150px; */
  padding: 25px 0px;
  margin: 0;
  color: var(--fill-base-white) !important;
  font-weight: bold;
  font-size: 32px !important;
  font-style: italic;
  line-height: 1;
}

.nav-list {
  display: flex;
  flex-direction: row !important;
  column-gap: 22.5px;
}

.nav-item a {
  padding: 8px 0 !important;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
  border-bottom: 2px solid var(--fill-base-yellow);
}

.nav-link {
  color: var(--fill-base-yellow) !important;
  fill: var(--fill-base-white) !important;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.1;
}
.hero {
  position: relative;
  background: radial-gradient(var(--fill-radial-gradient));
  background-size: cover;
  padding: 30px 0px 100px;
}
.about_us_section {
  position: relative;
  background: radial-gradient(var(--fill-radial-gradient));
  background-size: cover;
  padding: 30px 0px 100px;
}

h1 {
  color: var(--fill-base-white) !important;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 20px;
  z-index: 999;
  letter-spacing: 1px;
}

.tagline {
  color: var(--fill-base-white) !important;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 999;
}

.splitScreen {
  z-index: 999;
  max-width: 500px;
  width: 100%;
  margin: 0px auto;
  padding-top: 50px;
}
/* contact Us */
.contact_us_section {
  position: relative;
  background: radial-gradient(var(--fill-radial-gradient));
  background-size: cover;
  padding: 30px 0px 100px;
}
.contact_us_section .default-btn {
  padding: 10px !important;
}
.phone-input-button {
  background-color: var(--fill-primary-black);
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.phone-input-button:hover {
  background-color: var(--hover-color);
}

/* introduction */
.introduction {
  background-image: radial-gradient(var(--fill-radial-gradient));
  padding: 30px 0px;
}
.introduction .container {
  position: relative;
  overflow: hidden;
}
.introduction .outer-circle {
  left: -180px;
}

.imgWrapper {
  /* max-width: 250px; */
  width: 100%;
  padding-top: 10px;
}

.gradient-text {
  background: radial-gradient-gradient(90deg, #ff0004, #ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Marquee */
.morquee {
  padding: 30px 0px;
  background: radial-gradient(var(--fill-radial-gradient));
  background-size: cover;
  background-size: contain;
  position: relative;
}

.morquee img {
  max-width: 200px;
  width: 100%;
  margin: 0px 100px;
  z-index: 999;
  opacity: 1;
}

.morquee .sectionDescription {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

/* features */
.Features {
  padding: 30px 0px;
  background: radial-gradient(var(--fill-radial-gradient));
  overflow-x: hidden;
}
.Features .sectionTitle {
  padding-bottom: 100px;
}

.subTitle {
  color: var(--fill-base-white);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 20px;
  text-align: center;
}

.Features .cardStates img {
  width: 50px;
  height: 50px;
}

.Features .card .cardTitle {
  font-size: 21px !important;
}

.Features .cardWrapper {
  row-gap: 75px;
}

/* infographic */

.infographic {
  padding: 30px 0px;
  background-image: radial-gradient(var(--fill-radial-gradient));
  overflow-x: hidden;
}

.contentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infographic .card {
  max-width: 400px;
  width: 100%;
}
.infographic .sectionTitle {
  padding-bottom: 100px;
}

.card {
  background-color: #3a3648 !important;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.infographic .cardWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.infographic .sectionDescription {
  text-align: center;
}
.cardWrapper {
  row-gap: 50px;
  padding: 10px;
}

.cardStates {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a3648;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.6),
    0 0 4px rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fill-base-yellow);
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.cardTitle {
  color: var(--fill-base-white);
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

/* callToAction */
.callToAction {
  padding: 30px 0px;
  background: #092c44;
}

.callToAction .contentInner {
  background: var(--fill-primary-yellow);
  border-radius: 20px;
  padding: 30px 0px;
}

.callToAction .default-btn {
  align-self: center;
}
.callToAction .sectionTitle {
  color: var(--fill-base-white);
}

/* footer */
footer {
  position: relative;
  background-color: #1d1d38;
  color: white;
  padding: 30px 0;
  font-size: 14px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #1dc4e9;
}

footer .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

footer .social-icons {
  padding: 0;
}

footer .social-icons li {
  display: inline;
  margin-right: 10px;
}

footer .social-icons li a {
  /* color: #ffffff; */
  font-size: 20px;
  transition: color 0.3s ease;
}

footer .social-icons li a:hover {
  color: var(--fill-primary-yellow);
}

footer h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

footer p {
  margin-bottom: 10px;
}

footer .row {
  margin-bottom: 20px;
}

footer .list-unstyled li {
  margin-bottom: 8px;
}

footer .list-inline-item a {
  color: var(--fill-base-yellow);
}

footer .list-inline-item a:hover {
  color: #1dc4e9;
}

footer .list-inline-item i {
  font-size: 18px;
  transition: color 0.3s ease;
}

footer .list-inline-item i:hover {
  color: var(--fill-primary-yellow);
}
.line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: var(--fill-base-yellow);
}
/* testimonial */

.testimonials {
  padding: 30px 0px;
  background-image: radial-gradient(var(--fill-radial-gradient));
}
.testimonials .container {
  position: relative;
  overflow: hidden;
}
.testimonials .outer-circle {
  width: 80px;
  height: 80px;
  right: 70px;
  top: 40px;
}
.testimonials .inner-circle {
  width: 50px;
  height: 50px;
}

.testimonial-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.testimonial {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3a3648;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.testimonial .sectionDescription {
  text-align: center;
}

.user-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-controls button {
  background: none;
  border: none;
  color: var(--fill-base-yellow);
  font-size: 2rem;
  cursor: pointer;
  padding: 0 15px;
}

.slider-controls button:hover {
  color: var(--fill-primary-yellow);
}

.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.outer-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: var(--fill-primary-yellow) 0px -11px 20px 3px;
  background-color: var(--fill-primary-yellow);
  overflow: hidden;
  display: none;
}
.inner-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(var(--fill-radial-gradient));
  box-shadow: inset 0 0px 30px var(--fill-primary-yellow);
  box-shadow: inset var(--fill-primary-yellow) 0px -11px 20px 3px;
}
.copyrights {
  color: var(--fill-base-yellow);
}
/* Responsivness */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .Features .card {
    width: 30% !important;
    flex: unset !important;
  }
}

@media only screen and (min-width: 992px) {
  header {
    background: radial-gradient(var(--fill-radial-gradient));
    background-size: cover;
  }
  .splitScreen {
    padding-top: 0;
  }
  .introduction {
    padding: 50px 0px;
  }

  .Features {
    padding: 50px 0px;
  }

  .infographic {
    padding: 50px 0px;
  }
  .outer-circle {
    display: flex;
  }
  .testimonials {
    padding: 50px 0px;
  }

  .callToAction {
    padding: 50px 0px;
  }

  footer {
    padding: 50px 0px;
  }

  h1 {
    font-size: 35px;
    text-align: left;
  }

  .tagline {
    font-size: 18px;
    text-align: left;
  }

  .sectionTitle {
    font-size: 30px;
    padding-bottom: 50px;
  }

  .sectionDescription {
    font-size: 16px;
    text-align: left;
  }

  .secTagline {
    font-size: 20px;
  }

  .default-btn {
    margin: unset;
  }

  .subTitle {
    font-size: 19px;
  }
  .infographic .card {
    max-width: 300px;
    width: 100%;
  }
  .infographic .cardWrapper {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  .infographic .card {
    max-width: 320px;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 50px;
  }

  .tagline {
    font-size: 20px;
  }

  .sectionTitle {
    font-size: 40px;
    padding-bottom: 50px;
  }

  .sectionDescription {
    font-size: 18px;
  }

  .subTitle {
    font-size: 25px;
  }
  .infographic .card {
    max-width: 400px;
  }
}
